/*
 * Empty Stylesheet file.
 */

:root{
    
   --borde_color:var(#0A535C);
    
}

.mainFxmlClass {
/*-fx-border-color: #0A535C;
-fx-border-width: 30px;*/
    

}

.TextColor_tituloVerde{
         
        
}

.textFildPadrao{
    -fx-background-radius: 10px;
    
}

.topicosText{
    -fx-fill: #005A60;
    -fx-underline: true;        
}

.bordas_pane{
    -fx-border-color: #0A535C;
    -fx-border-width: 20px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-background-color: #E4EFF0;
}

.but_padrao{
    -fx-background-color:#82BAAD;
    -fx-background-radius: 100px;
    
}

.SpinsComum{
    -fx-background-radius: 100px;
}